.login_form{
    float: left;
    position: absolute;
    top: 10%;
    left: 25%;
    z-index: 1000;
    padding: 15px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 25px;
    text-align: center;
    background-color: white;
    border-radius: 30px 15px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
